achallonge-compat-fork
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
async-timeout
asyncio
attrs
base58
bcrypt
beautifulsoup4
bidict
biom-format
biopython
blinker
braintree
cachetools
certifi
cffi
charset-normalizer
click
colorama
construct
construct-typing
cryptography
cutadapt
Cython
dnaio
dnspython
email_validator
exceptiongroup
fastapi
frozenlist
google
google-auth
h11
httpcore
httplib2
# Adjust httpx to allow a wider range:
httpx
idna
importlib-metadata
isal
jeepney
jsonalias
keyring
loguru
Metaplex
more-itertools
multidict
multipart
mysql-connector-python
nest-asyncio
nulltype
oauthlib
pandas
paypalrestsdk
pillow
plaid-python
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyGObject
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pypng
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
pytz
qrcode
requests
rfc3986
rsa
SecretStorage
six
sniffio
solana
# Adjust solathon to a compatible range with httpx:
solathon
solders
soupsieve
split
starlette
theblockchainapi
typing_extensions
tzdata
urllib3
uvicorn
wadllib
websockets
wsproto
xopen
yarl
zipp
zlib-ng
